<footer class="footer">
    <div class="container">
        <p class="pull-left">Copyright &copy; <%= new Date().getFullYear() %> BillionsOfBids.</p>
        <p class="pull-right"><a href="/privacyPolicy">Privacy Policy</a></p>
        <p class="pull-right">&nbsp;</p>
        <p class="pull-right"><a href="/termsOfService">Terms of Service</a></p>
    </div>
</footer>