<div class="mainnav" style="visibility: hidden;">
    <!--<div class="container">-->
        <!--<a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<i class="fa fa-bars"></i>-->
        <!--</a>-->

        <!--<div id="dynamicSearchButton" style="display: none;" class="mainnav-form pull-right" role="search">-->
            <!--<a  href="" ui-sref="main" class="btn btn-default">New Search</a>-->
        <!--</div>-->

        <!--<nav class="collapse mainnav-collapse" role="navigation">-->

            <!--<ul class="mainnav-menu">-->
                <!--<li ui-sref-active="active">-->
                    <!--<a href="" ui-sref="main">-->
                        <!--Local-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li ui-sref-active="active">-->
                    <!--<a ui-sref="listItem">-->
                        <!--List Your Item-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li ui-sref-active="active">-->
                    <!--<a ui-sref="myItems">-->
                        <!--My Items-->
                    <!--</a>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</nav>-->
    <!--</div> &lt;!&ndash; /.container &ndash;&gt;-->
</div> <!-- /.mainnav -->