<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>Billions of Bids</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/lib/vegas/dist/vegas.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="./css/font-awesome.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- App CSS -->
    <link href="./css/mvpready-landing.css" rel="stylesheet">
    <link href="./css/mvpready-flat.css" rel="stylesheet">
    <link href="./css/mvpready-landing-carrot.css" rel="stylesheet">
    <link href="./css/animate.css" rel="stylesheet">
    <link href="./css/bob.css" rel="stylesheet">
    <!-- <link href="./css/custom.css" rel="stylesheet">-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
</head>

<body class=" ">

<script></script>

<div id="wrapper">

    <% include ./partials/header-loggedout %>

    <div id="masthead" class="masthead">

        <div class="container">
            <!-- starts carousel -->

            <div id="masthead-carousel" class="carousel masthead-carousel slide">
                <div class="carousel-inner">
                    <div class="item active">

                        <div class="row">

                            <div class="col-md-6 masthead-text animated fadeInDownBig">
                                <h1 class="masthead-title">Billions of Bids is for friends!</h1>

                                <p class="masthead-">
                                    Leverage the power of facebook  to sell to more than just your friends.  You’re selling to their friends and their friends, friends.  They can find your items for sale on your Facebook,  like them, share them and leave comments for you.
                                </p>

                                <br>

                                <div class="masthead-actions">

                                    <a href="/main" class="btn btn-primary btn-jumbo">
                                        Find something sweet!
                                    </a>
                                </div> <!-- /.masthead-actions -->
                            </div> <!-- /.masthead-text -->

                            <!--<div class="col-md-6 masthead-img animated fadeInUpBig">-->
                                <!--<img src="img/masthead/mobile.png" alt="slide2" class="img-responsive" />-->
                            <!--</div> &lt;!&ndash; /.masthead-img &ndash;&gt;-->

                        </div> <!-- /.row -->

                    </div> <!-- /.item -->

                    <div class="item">

                        <div class="row">

                            <div class="col-md-6 masthead-text animated fadeInDownBig">
                                <h1 class="masthead-title">Billions of Bids - not your Grandma's marketplace!</h1>

                                <p class="masthead-">
                                    We are using the best tools of social media to create the best value for our clients leveraging our platform to enable users to transact safely and securely through dealing with verified users.
                                </p>

                                <br>

                                <div class="masthead-actions">

                                    <a href="/main" class="btn btn-primary btn-jumbo">
                                        Go forth and sell!
                                    </a>
                                </div> <!-- /.masthead-actions -->
                            </div> <!-- /.masthead-text -->

                            <div class="col-md-6 masthead-img animated fadeInUpBig">
                                <!--<iframe width="560" height="315" src="//www.youtube.com/embed/rvMZ-dzz2Cg" frameborder="0" allowfullscreen></iframe>-->
                                <!--<img src="/img/grandma.jpg" />-->
                            </div> <!-- /.masthead-img -->

                        </div> <!-- /.row -->

                    </div> <!-- /.item -->

                </div>  <!-- /.carousel-inner -->
                <!-- Carousel nav -->

                <div class="carousel-controls">
                    <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
                </div>

            </div> <!-- /.masthead-carousel -->

        </div>

    </div> <!-- /.masthead -->



    <div class="content">

        <div class="container">

            <h4 class="content-title">
                <span>Why Billions of Bids?</span>
            </h4>

            <br>

            <div class="row">

                <div class="mini-feature">
                    <i class="fa fa-money mini-feature-icon text-secondary"></i>

                    <div class="mini-feature-text">
                        <h5 class="mini-feature-title">
                            Verified Users
                        </h5>

                        <p>
                            Billions of Bids verifies users with Facebook. Therefore, users know who they are selling or buying an item from.
                        </p>
                    </div>
                </div> <!-- /.mini-feature -->

                <div class="mini-feature">
                    <i class="fa fa-lightbulb-o mini-feature-icon text-secondary"></i>

                    <div class="mini-feature-text">
                        <h5 class="mini-feature-title">
                            Ease of Use
                        </h5>

                        <p>
                            Billions of Bids incorporates an easy and interactive way for users to post items and communicate with potential buyers.
                        </p>
                    </div>
                </div> <!-- /.mini-feature -->

                <div class="mini-feature">
                    <i class="fa fa-gift mini-feature-icon text-secondary"></i>

                    <div class="mini-feature-text">
                        <h5 class="mini-feature-title">
                            Get More Eyes on your Prize
                        </h5>

                        <p>
                            Now you can tell the girl next door or her pen pal in Africa about your awesome item for sell with just a few simple clicks.  But it doesn't stop there.  When your friends friend likes your post then all their friends see it to.  The possibilities are endless.
                        </p>
                    </div>
                </div> <!-- /.mini-feature -->

            </div> <!-- /.row -->


            <div class="row-divider"></div> <!-- /.row-divider -->


        </div> <!-- /.container -->

    </div> <!-- /.content -->




</div> <!-- /#wrapper -->

<footer class="copyright">
    <div class="container">

        <div class="row">

            <div class="col-sm-12">
                <p class="pull-left">Copyright &copy; <%= new Date().getFullYear() %> Billions of Bids.</p>
                <p class="pull-right"><a href="/privacyPolicy">Privacy Policy</a></p>
                <p class="pull-right">&nbsp;</p>
                <p class="pull-right"><a href="/termsOfService">Terms of Service</a></p>
            </div>


        </div> <!-- /.row -->

    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./lib/jquery/dist/jquery.min.js"></script>
<script src="./lib/vegas/dist/vegas.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./lib/angular/angular.js"></script>

<script src="./js/jquery.timeago.js"></script>

<!--[if lt IE 9]>
<script src="./js/excanvas.compiled.js"></script>
<![endif]-->


<!-- Plugin JS -->
<script src="./js/jquery.carouFredSel-6.2.1-packed.js"></script>

<!-- App JS -->
<script src="./js/mvpready-core.js"></script>
<script src="./js/mvpready-landing.js"></script>
<script src="./js/main/index.js"></script>
<script src="./js/main/imagePreviewService.js"></script>


</body>
</html>