
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>Hello</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- App CSS -->
    <link href="./css/mvpready-landing.css" rel="stylesheet">
    <link href="./css/mvpready-flat.css" rel="stylesheet">
    <link href="./css/animate.css" rel="stylesheet">
    <!-- <link href="./css/custom.css" rel="stylesheet">-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">

    <style>
        .masthead-text{
            text-align: left;
        }
    </style>
</head>

<body class=" ">

<div id="wrapper">




    <div class="masthead">

        <div class="container">

            <div class="row">

                <div class="col-md-6 masthead-text animated fadeInDownBig">
                    <h1 class="masthead-title">Dear Friend,</h1>

                    <p>My name is Henry Veil and I am starting a new website that I hope will benefit you. This website is an online hub to buy and sell motorcycles and motorcycle parts and equipment exclusively.<br />
                        <br />
                        And, If you are a motorcycle fan, I need your help with it. This website is still in beta because I have not finished doing my market research. This is where you come in.<br />
                        <br />
                        In order for my website to offer the best possible service, I need to research what people like you would actually want this website to be like.<br />
                        <br />
                    <h3>My Offer For You:</h3>
                    <br />
                    So, this is my offer. If you take just a few minutes out of your day, I will give you $5 cash for trying out my website. $5 for just clicking a few buttons and giving me feedback about the website. That&rsquo;s it.<br />
                    <br />
                    <h3>How To Get Your $5:</h3>
                    <br />
                    Here is how to get hold of me. I would like you to click on the email link, <a href="mailto:henryveil29@gmail.com">henryveil29@gmail.com</a>, and send me an email with &ldquo;$5&rdquo; written in the subject line. In the body of the email please type in your name and the best phone number to reach you. Please include the best time to call you as well.<br />
                    <br />
                    <strong>You will need an active Facebook account in order to participate.</strong>
                    <br />
                    I will contact you within the next 24 hours to schedule a time and place to meet. At this meeting you will briefly try out the website and tell me about your experience. <br />
                    <br />
                    The website is designed to be a simple, easy-to-use online market where you can buy motorcycles at a great price or sell your old motorcycle quickly and easily. <br />
                    <br />
                    When you meet with us we want to see how easy it is for you to enter in an item to sell. This item will, of course, not exist. This is just a test to see how well the website functions. All we are asking for is a few minutes of your time, 20 minutes tops.<br />
                    <br />
                    At the end of the meeting I will give you the $5. Again, the whole thing will take no more than 20 minutes, plus travel time.<br />
                    <br />
                    I want to hear everything you have to say. What you liked, disliked, your ideas about how to improve it and anything else that will come to mind. I appreciate everything you have to say.<br />
                    <br />
                    Thanks,<br />
                    <br />
                    Henry Veil<br />
                    <br />
                    PS &ndash; Because my start up budget is low at this point, I can only give this $5 offer to a select few. Only the first 10 emails I receive from legitimate motorcycle lovers will be considered for this $5 meeting, so if you want to take advantage of this deal, do it now.<br />
                    <br />
                    PPSS &ndash; Also, I will be going out of town on June 10th for a few months, so I will only have 2 or 3 days for these meetings. <br />
                    <br />
                    If I am not able to meet with 10 people by June 10th, the meetings won&rsquo;t happen and I&rsquo;ll have to do my market research some other way.<br />
                    <br />
                    So please, if you have a few minutes, send me an email at <a href="mailto:henryveil29@gmail.com">henryveil29@gmail.com</a> with your contact info.</p>

                    <br>

                </div> <!-- /.masthead-text -->

                <div class="col-md-6 masthead-img animated fadeInUpBig">
                    <img src="img/motorcycle-clip-art.png" alt="slide2" class="img-responsive" />
                </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

            <!-- starts carousel -->


        </div>

    </div> <!-- /.masthead -->




</div> <!-- /#wrapper -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/libs/jquery-1.10.2.min.js"></script>
<script src="./js/libs/bootstrap.min.js"></script>

<script src="./js/plugins/timeago/jquery.timeago.js"></script>
<script src="./js/plugins/tweetable/tweetable.jquery.min.js"></script>

<!--[if lt IE 9]>
<script src="./js/libs/excanvas.compiled.js"></script>
<![endif]-->


<!-- Plugin JS -->
<script src="./js/plugins/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>

<!-- App JS -->
<script src="./js/mvpready-core.js"></script>
<script src="./js/mvpready-landing.js"></script>


</body>
</html>